<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Update</title>
    <link rel="stylesheet" href="/static/auth/style.css">
</head>
<body>
    <div class="container">
        <div class="card login" style="height: 220px;">
          <h2>Password Update</h2>
          <form method="post" action="/account/new-password">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="userId" value="<%=userId%>">
            <input type="hidden" name="token" value="<%=token%>">
            <input type="text" name="password" placeholder="New Password" required>
            <button type="submit">Update Password</button>
          </form>
        </div>
      </div>
</body>
</html>
