<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/static/auth/style.css">
</head>
<body>
    <div class="container">
        <div class="card login" style="height: 220px;">
          <h2>Password Reset</h2>
          <% if (message) { %>
            <p style="color: #333; margin-top: -5px;"><%= message.text %></p>
          <% } %>
          <form method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Password Reset</button>
          </form>
        </div>
      </div>
</body>
</html>